# Python
__pycache__/
*.pyc
*.pyo
.numba_cache/

# Cache files
*.npz

# C++ build artifacts
*.obj
*.exe
*.dll
*.pdb
*.ilk
*.exp
*.lib

# Output / logs
op_output_*.json
*.txt

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
